.service{
  &__deskription {
    margin-top: 1.5rem;
  }
  &__deskription-text {
    font-size: 0.875rem;
    margin: auto 1rem 0 0;
    letter-spacing: 0.2px;
    overflow:hidden;
    height: 149px;
    &_active{
      height: max-content;
    }
  }
  &__deskription-p {

    &:nth-child(2),
    &:last-child {

    }
  }
  &__button {
    font-weight: 500;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 13px;
    display: flex;
    align-items: center;
    column-gap: 16px;
    &_active{

    }
  }
  &__reade-more{

    transition: 1s;
    transform: rotate(180deg);
    &_active{
      transition: 1s;
      transform: rotate(180deg);
    }
  }
  &__image {
    margin-top: 1rem;
  }
  .button {
    border: none;
  }
  @media (min-width: 768px) {
    &__caption {
      margin-bottom: 1.5rem;
      &::before {
        margin-right: 1.25rem;
      }
    }
    &__navigation {
      margin-top: 0.5rem;
    }
    &__deskription {
      margin-top: 0.5rem;
      display: flex;
      justify-content: space-between;
    }
    &__deskription-text {
      min-width: 19.5rem;
    }
    &__deskription-p {

      &:nth-child(2) {
        display: block;
      }
    }
    &__image {
      margin-right: 1.5rem;
    }
  }
  @media (min-width: $bg-screen) {
    &__caption-items {
      display: flex;
      justify-content: space-between;
      margin-top: 2.625rem;
    }
    &__caption {
      margin-top: 0;
      margin-bottom: 0;
      &::before {
        margin-right: 1.875rem;
      }
    }
    &__operations {
      display: flex;
    }
    &__operation {
      &:first-child {
        margin-right: 9rem;
      }
    }
    &__deskription-p {

      &:last-child {
        display: inline;
      }
    }
    &__deskription-items {
      margin: 0 2rem;
    }
    &__deskription-text {

    }
  }

}

