
.modal {
  background-color: $mainColor;
  width: 31.42rem;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  opacity: 0;
  transition: 700ms;

  &_active {
    opacity: 1;
    z-index: 3;

    .modal-call {
      opacity: 0;
    }
  }

  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
  @media (max-width: $md-screen) {
    width: 22.85rem;
  }


  &-call {
    &_active {
      opacity: 1;
      z-index: 3;

      .modal {
        opacity: 0;
      }
    }
  }

  &__wrapper {
    padding-top: 1rem;
    width: 90%;
    margin: 0 auto;
  }


  &__header {
    display: flex;
    width: 100%;
    column-gap: 4.64rem;
    transform: translateX(-25%);
    @media (max-width: $md-screen) {
      flex-direction: column;
      transform: translateX(0%);
      align-items: flex-start;
    }
  }

  &__caption {

    &::before {
      content: "";
      position: absolute;
      width: 3px;
      height: 30px;
      border-radius: 2px;
      background-color: $sideMarker;
      transform: translateX(-850%);
      @media (max-width: $md-screen) {
        transform: translateX(-600%);
      }
    }
  }
}

.modal__form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.form__tel,
.form__name,
.form__email,
.form__area {
  font-family: inherit;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid $horizontalLineColor;
  border-radius: 0.5rem;
  height: 3rem;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.form__area {
  height: 7.375rem;
  resize: none;
  padding-top: 0.875rem;
  margin-bottom: 0;
}

.form__tel::placeholder,
.form__name::placeholder,
.form__email::placeholder,
.form__area::placeholder {
  color: #625d5d;
  font-weight: 500;
}

.form__info {
  font-size: 0.875rem;
  color: $textSecondaryColor;
}

.form__link {
  text-decoration: none;
  color: $btnColor;
}

.form__link:hover {
  text-decoration: underline;
}

.form__button {
  box-sizing: border-box;
  font-family: inherit;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  color: $mainColor;
  width: 8.5rem;
  height: 2rem;
  padding: 0 1rem 0 0.75rem;
  border-radius: 1rem;
  border: none;
  background-color: $btnColor;
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: linear all 700ms;
  cursor: pointer;
}



