.box {
  &__description-text {
    &_special {
      width: 60%;

      &::after {
        content: url("../img/Line.svg");
        position: absolute;
        transform: translate(100%, 9%);
      }
    }

    @media (max-width: $md-screen) {
      margin-left: 3%;
    }
    width: 90%;
    @media (min-width: $md-screen) {
      width: 43%;
    }
  }
}
