.repair-info {
  &__container {
    &_active {
      height: max-content;
    }

    &_tech {
      height: 13rem;

    }
  }

  &_tech {

    height: max-content;
  }

  &__list {

    &_tech {
      height: 400px;
      

    }
  }

  &__list-btn {
    padding: 1.1rem;

    &_tech {
      display: flex;
      align-items: flex-start;
      height: 160px;
    }
  }

  &__btn {
    &_bottom {
      align-self: flex-end;
    }
  }
}
